/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #170a29;
    color: #ccd6f6;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background: radial-gradient(circle 400px at var(--mouse-x) var(--mouse-y), rgb(59, 7, 59), #170a29 100%);
    background-blend-mode: overlay;
    transition: background 0.1s ease;
}

/* Container */
.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* About Paragraph Links */
.about-p .link {
    text-decoration: none;
    color: #ccd6f6;
    font-weight: bold;
    transition: color 0.3s;
}

/* Resume Link */
.resume-link {
    display: inline-flex;
    align-items: center;
    color: #ccd6f6;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 18pt;
    text-decoration: none;
}

.resume-icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.resume-link:hover .resume-icon {
    transform: translateX(10px);
}

#experience a:hover, #education a:hover, #about a:hover {
    color: #A14DD1;
}

/* Left Section */
.left-section {
    width: 45%;
    padding: 30px;
    padding-top: 100px;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.left-section .social-links {
    margin-top: 30px;
}

.left-section h1 {
    font-size: 32pt;
    color: #dce2f7;
}

.left-section h2 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #dce2f7;
}

.social-icon {
    width: 50px;
    height: 50px;
    fill: #ccd6f6;
}

/* Headshot */
.headshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin: 15px 15px 0 0;
    box-shadow: 0px 5px 15px #A14DD1;
    shape-outside: circle();
}

.left-section p {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.6;
}

/* Navigation Menu */
.nav-menu ul {
    list-style: none;
    padding: 0;
    padding-top: 75px;
}

.nav-menu li {
    position: relative;
    margin: 20px 0;
}

.nav-item {
    text-decoration: none;
    color: #8892b0;
    font-weight: bold;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s;
}

.nav-item:hover, .nav-item.active {
    color: #A14DD1;
}

.nav-item::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #8892b0;
    transition: width 0.3s ease-in-out;
    margin-right: 5px;
}

.nav-item.active::before, .nav-item:hover::before {
    width: 70px;
    background-color: #A14DD1;
}

/* Right Section */
.right-section {
    width: 55%;
    margin-left: 5%;
    padding: 30px;
    overflow-y: scroll;
    padding-top: 100px;
    max-height: 100vh;
    box-sizing: border-box;
}

.right-section::-webkit-scrollbar {
    display: none;
}

.right-section {
    scrollbar-width: none;
}

.right-section h3 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

.right-section #education {
    margin-top: 50px;
}

.right-section #experience {
    margin-top: 100px;
}

.right-section #projects {
    margin-top: 50px;
}

.right-section .about-p {
    color: #8892b0;
    font-size: 13pt;
    line-height: 1.5;
    margin-top: 10px;
}

/* Job and Project Cards */
.job-card, .project-card {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #160929;
    transition: background-color 0.3s, transform 0.3s;
}

.job-card .job, .project-card .project {
    display: flex;
    color: #ccd6f6;
}

.job-card:hover, .project-card:hover {
    background-color: rgba(100, 255, 218, 0.1);
    transform: translateY(-5px);
}

.job-card .job .description, .project-card .project .description {
    color: #8892b0;
}

.job-card .job .left, .project .left {
    width: 25%;
    font-size: 12pt;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.job-card .job .right, .project .right {
    width: 75%;
    padding-left: 20px;
}

.experience-logo, .experience-logo-KG, .experience-logo-JV, .education-logo-ND {
    margin-top: 20px;
    justify-content: center;
}

.experience-logo {
    width: 70px;
    height: 70px;
    margin-left: 25%;
}

.experience-logo-KG {
    width: 50px;
    height: 100px;
    margin-left: 25%;
}

.experience-logo-JV {
    width: 150px;
    height: 75px;
}

.education-logo-ND {
    width: 110px;
    height: 110px;
}

.project-thumbnail {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.tech-stack {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tech-stack li {
    background-color: rgba(100, 255, 218, 0.1);
    color: #A14DD1;
    padding: 5px 10px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.8em;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack sections vertically */
    }
    .left-section h1 {
        text-align: center;
        padding: auto;
    }
    .left-section h2 {
        text-align: center;
        padding: auto;
    }
    .right-section h3 {
        text-align: center;
        padding: auto;
    }
    
    
    .left-section, .right-section {
        width: 100%; /* Full width for mobile */

        padding: 20px;
        margin: 0;
        height: auto;
    }

    .left-section {
        padding-top: 20px;

        position: static; /* Remove sticky positioning for mobile */
    }

    .right-section {
        overflow-y: visible; /* Remove overflow scroll for mobile */
        max-height: none; /* Remove max-height for scrolling content */
    }

    /* Reduce font sizes for better fit on small screens */

    .left-section h1 {
        font-size: 24px;
    }

    .left-section h2 {
        font-size: 1.2em;
    }


    .nav-menu ul {
        display: flex;              /* Set items in a row */
        justify-content: center;     /* Center items horizontally */
        padding-top: 10px;           /* Adjust padding as needed */
    }

    .nav-menu li {
        margin: 0 10px;              /* Add horizontal space between items */
    }

    .nav-item {
        font-size: 12px;             /* Adjust font size for mobile */
    }

    /* Adjust image sizes */
    .headshot {
        width: 100px;
        height: 100px;
        padding: auto;

    }

    .social-icon {
        width: 40px;
        height: 40px;
    }
    .job-card {
        text-align: center;
    }

    /* Job content adjustments for mobile */
    .job-card .job {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Align date at the top left */
    .job-card .left {
        width: 100%;
        text-align: left; /* Align text to the left */
        font-size: 0.9em;
        padding: 5px;
        order: -1; /* Ensures the date is first in order */
    }

    /* Center the logo/image in the middle */
    .experience-logo-KG {
        margin: 15px auto; /* Center align the image */
        width: 80px; /* Adjust size as needed */
        height: 160px;
    }
    .experience-logo-JV {
        margin: 15px auto; /* Center align the image */
        width: 160px; /* Adjust size as needed */
        height: 80px;
    }
    .experience-logo{
        margin: 15px auto; /* Center align the image */
        width: 80px; /* Adjust size as needed */
        height: 80px;
    }
    .education-logo-ND{
        margin: 15px auto; /* Center align the image */
        width: 100px; /* Adjust size as needed */
        height: 100px;
    }
    /* Adjust description width to fit screen */
    .job-card .right {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    /* Job and project cards adjustments */

    .job-card, .project-card {
        flex-direction: column;

        text-align: center;
    }

    .job-card .job .left, .project .left {
        width: 100%; /* Full width for images */

        text-align: center;
        margin: auto;
    }

    .job-card .job .right, .project .right {
        width: 100%;
        padding-left: 0;
    }

    .project-thumbnail {
        max-width: 100px;
        max-height: 100px;
    }
}
